<div class="row">
<div class="col-md-6">
	<img src="/assets/singapore.jpg" class="img-responsive">
</div>
<div class="col-md-6">
<p>THE ISSUE is a new platform that seeks to provide a cross-college experience for both fellows and students to share their opinions regarding issues of national and international controversy. 
 </p>
</div>
</div>