<div class="long-para">

<p>
	Stories are told and retold, often with elements of the same story changing with each retelling. While the Singapore Story is an intriguing and multifaceted story, it is often narrated with one unchanging aspect: that Singapore is a weak and vulnerable nation in perpetual crisis. We tell ourselves that we are a country that is permanently in danger of being defeated militarily or internally divided or economically outcompeted. Since our independence in 1965, this seems to have become universally accepted as a cornerstone of the nation. 
</p>

<p>
A particular interpretation of the Singapore Story has arguably been the motivation behind many recent moves and policies. The controversial Population White Paper is a policy that springs to mind, the aim of which was to boost immigration in order to sustain a competitive and vibrant economy in the face of an ageing population. However, controversy arose because many Singaporeans felt threatened by the social pressures it implied, such as the dilution of Singaporean identity, worsening income gap, and shortages in housing. Here, we find two competing interpretations of the same narrative: the former views survival as an issue of economic competitiveness, whereas the latter regards survival in terms of the wellbeing of the existing community. 
</p>

<p>
Reflecting on such conflicts in interpretation is productive. For instance it could be argued that these differences in interpretation are the source of the oft-cited idea, especially among the online community, that Singapore's leaders are no longer in touch with the ground. These are exactly the kinds of differing interpretation that we wish "The Issue" to probe. By what standards should we evaluate competing interpretations of the same story? What practices have the different interpretations legitimised, and what have they excluded? What might Singapore become if we are to adopt alternative narratives? 
</p>

</div>