<div class="user-ack">
<p> 
Hey <%= @user.name %>, thanks for registering!
</p>
<p>
	We will contact you at <%= @user.email %> for any updates.
</p>
<p>
	For any queries feel free to contact us at <a href="mailto:pearl.ljx@gmail.com&cc=nicholashuang90@nus.edu.sg">pearl.ljx@gmail.com</a>, and cc <a href="mailto:pearl.ljx@gmail.com&cc=nicholashuang90@nus.edu.sg">nicholashuang90@nus.edu.sg </a>
</p>
</div>
